{% render 'partials/head.liquid' %}

<header class="veronica-header">
    <img src="/veronica-logo.svg" alt="veronica logo">
</header>

<section class="hoofd-nav">
    <nav>
        <ul>
            <li><a href="#">progammering</a></li>
            <li><a href="#">DJ's</a></li>
            <li><a href="#">playlist</a></li>
        </ul>
    </nav>


</section>

<section class="programma-sec">
    <article class="programma">

        {% for show in shows %}

        <h2>{{ show.radiostation }} {{ show.name }}</h2>
        <p> {{ show.body }} </p>
        <p> {{ show.users }} </p>

        {% endfor %}
    </article>

        {% comment %} {% for show in shows, for person in persons %} {% endcomment %}

        {% comment %} <h2>{{ show.radiostation }} {{ show.name }}</h2> {% endcomment %}
        {% comment %} <p> {{ show.body }} </p> {% endcomment %}
        {% comment %} <h3>{{ person.full_name }}</h3> {% endcomment %}
        {% comment %} <img src="{{ person.cover }}"> {% endcomment %} 

        {% comment %} {% for person in persons %} {% endcomment %}
    
        {% comment %} <h4>{{ person.full_name }}</h4> {% endcomment %}
        {% comment %} <img src="{{ person.cover }}"> {% endcomment %}

        {% comment %} {% endfor %}  {% endcomment %}

        {% comment %} {% for tijd in tijden %}
            <p> {{ tijd.from }} {{ tijd.until }} </p>
        {% endfor %} {% endcomment %}
</section>

<a class="home" href="/">home</a>

{% render 'partials/foot.liquid' %}