{% render 'partials/head.liquid' %}

<header class="veronica-header">
    <img src="/veronica-logo.svg" alt="veronica logo">
</header>

<section class="hoofd-nav">
    <nav>
        <ul>
            <li><a href="#">progammering</a></li>
            <li><a href="#">DJ's</a></li>
            <li><a href="#">playlist</a></li>
        </ul>
    </nav>
</section>

<section class="datum-nav">
    <nav>
        <ul>
            <li>
                <button>
                    <p>ma</p>
                    <p>18</p>
                </button>
            </li>
            <li>
                <button>
                    <p>di</p>
                    <p>19</p>
                </button>
            </li>
            <li>
                <button>
                    <p>woe</p>
                    <p>19</p>
                </button>
            </li>
            <li>
                <button>
                    <p>do</p>
                    <p>20</p>
                </button>
            </li>
            <li>
                <button>
                    <p>vrij</p>
                    <p>21</p>
                </button>
            </li>
            <li>
                <button>
                    <p>za</p>
                    <p>22</p>
                </button>
            </li>
            <li>
                <button>
                    <p>zo</p>
                    <p>23</p>
                </button>
            </li>
        </ul>
    </nav>
</section>

<section class="programma-sec">

        {% comment %} loop voor de programmas zelf in veronica met daarbij de tijden en artiest {% endcomment %}
        {% for data in algemeen %}
            <article class="programma">
                <div>
                    <h2>{{ data.show.name }}</h2>
                    <p class="informatie-show">{{ data.show.body }}</p>
                </div>
                <div>
                    <img src="/Time.svg" alt="tijd">
                    <time datetime="{{ data.from }} {{ data.until }}" class="artiest-tijd">{{ data.from | slice: 0,5 }} - {{ data.until | slice: 0,5 }}</time>
                </div>

                {% comment %} de loop in de loop zorgt ervoor dat er meerdere data word geladen zonder dat je errays er in hoeft te verwerken {% endcomment %}
                {% for person in data.show.users %}
                    <div>
                        <img src="/User.svg" alt="gebruiker">
                        <p class="naam-artiest">{{ person.mh_users_id.full_name }}</p>
                    </div>
                    <img class="persoon-radio" src="https://fdnd-agency.directus.app/assets/{{ person.mh_users_id.cover }}">
                {% endfor %}            
            </article>
        {% endfor %}

</section>

<footer>
    <nav>
        <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">veronica</a></li>
            <li><a href="#">slam</a></li>
            <li><a href="#">radio 100nl</a></li>


        </ul>
    </nav>
</footer>


<a class="home" href="/">home</a>

{% render 'partials/foot.liquid' %}